[submodule "lib/flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lib/dash.el"]
	path = lib/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "lib/f.el"]
	path = lib/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "lib/s.el"]
	path = lib/s.el
	url = https://github.com/magnars/s.el.git
[submodule "lib/ag.el"]
	path = lib/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "lib/scss-mode"]
	path = lib/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "lib/neotree"]
	path = lib/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "lib/projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
