[submodule "lib/flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lib/dash.el"]
	path = lib/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "lib/f.el"]
	path = lib/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "lib/s.el"]
	path = lib/s.el
	url = https://github.com/magnars/s.el.git
[submodule "lib/ag.el"]
	path = lib/ag.el
	url = https://github.com/Wilfred/ag.el.git
