[submodule "lib/flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lib/dash.el"]
	path = lib/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "lib/f.el"]
	path = lib/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "lib/s.el"]
	path = lib/s.el
	url = https://github.com/magnars/s.el.git
[submodule "lib/ag.el"]
	path = lib/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "lib/scss-mode"]
	path = lib/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "lib/neotree"]
	path = lib/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "lib/projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "lib/helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lib/helm-projectile"]
	path = lib/helm-projectile
	url = https://github.com/bbatsov/helm-projectile.git
[submodule "lib/emacs-elixir"]
	path = lib/emacs-elixir
	url = https://github.com/elixir-lang/emacs-elixir.git
[submodule "lib/emacs-terraform-mode"]
	path = lib/emacs-terraform-mode
	url = https://github.com/syohex/emacs-terraform-mode.git
[submodule "lib/emacs-hcl-mode"]
	path = lib/emacs-hcl-mode
	url = https://github.com/syohex/emacs-hcl-mode.git
[submodule "lib/emacs-zoom-window"]
	path = lib/emacs-zoom-window
	url = https://github.com/syohex/emacs-zoom-window.git
